extends layout.pug

block content
  .container.mt-5
    .card
      .card-body.p-5.bg-light
        .display-4 Привет от Хекслета!
        hr
        p.lead Приложение запущено на сервере с IP: !{serverIp}
